@model DHMRice.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Customer </h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li>
                            <a href="~/Customers/Index">Customer </a>
                        </li>
                        <li class="active">
                            Add New Customer
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">



                    <div class="form-horizontal">
                        @using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Name</label>
                                    <input type="text" class="form-control" name="Customer_Name" placeholder="Enter Customer Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Code</label>
                                    <input type="text" class="form-control" name="Customer_Code" placeholder="Enter Customer Code">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Mobile Number</label>
                                    <input type="text" class="form-control" name="Customer_MobileNo" placeholder="Enter Customer Mobile Number">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Bank Name</label>
                                    <input type="text" class="form-control" name="Customer_BankName" placeholder="Enter Customer Bank Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Bank Account Number</label>
                                    <input type="text" class="form-control" name="Customer_ACcountNo" placeholder="Enter Customer Bank Account Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Customer Address</label>
                                    <TextArea type="textarea" class="form-control" col="20" rows="8" name="Customer_Address" placeholder="Enter Customer Address"></TextArea>
                                </div>
                            </div>













                            <br />

                            <div class="form-group">
                                <div class="col-md-10">

                                    <input type="submit" value="submit" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>


                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>
