
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Opening Balance</h4>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">



                    <div class="form-horizontal">
                        @using (Html.BeginForm("Add", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Description</label>
                                    <input type="text" class="form-control" name="Transaction_Description" id="Description" placeholder="Transaction Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-10">
                                            <label for="Section Name">Debit</label>
                                            <input type="text" class="form-control" name="Debit" id="Debit" placeholder="Debit Amount">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-10">
                                            <label for="Section Name">Credit</label>
                                            <input type="text" class="form-control" name="Credit" id="Credit" placeholder="Credit Amount">
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>
                            
                            <div class="form-group ">
                                <label class="control-label col-md-2">Select Transaction method</label>
                                <div class="col-md-10" style="margin-top:10px">

                                    <input type="radio" name="isCash" id="isCash" value="1" checked>Cash Transaction
                                    <input type="radio" name="isBankAccount" id="isBankAccount" value="1" style="margin-left:20px">Transaction By Bank Account
                                    <input type="radio" name="isCheckbook" id="isCheckbook" value="1" style="margin-left:20px">Transaction By Check
                                </div>
                            </div>
                                <div class="form-group" id="checkbook_id">
                                    @*<div id="checkbook_content">
                                            <label class="control-label col-md-2">Checkbook no</label>
                                            <div class="col-md-9">
                                                <input name="CheckBookNo" id="CheckBookNo" class="form-control" />
                                            </div>
                                        </div>*@
                                </div>
                            <br />

                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <input type="submit" id="submit" value="Add Transaction" class="btn btn-success" style="width:100%" />
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        }
                    </div>


                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Description').keyup(function () {
            $('span.error-Description').remove();
            $('span.valid-Description').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {               
                $(this).after('<span class="valid valid-Description hidden" style="color:green;"></br></span>');
            }
            else {
                $(this).after('<span class="error error-Description" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Description').focusout(function () {
            $('span.error-Description').remove();
            $('span.valid-Description').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                $(this).after('<span class="valid valid-Description hidden" style="color:green;"></br></span>');
            }
            else {
                $(this).after('<span class="error error-Description" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Description').mouseout(function () {
            $('span.error-Description').remove();
            $('span.valid-Description').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                $(this).after('<span class="valid valid-Description hidden" style="color:green;"></br></span>');
            }
            else {
                $(this).after('<span class="error error-Description" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Debit').keyup(function () {
            $('span.error-Debit').remove();
            $('span.valid-Debit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Debit" style="color:red;"></br>Debit Amount Should be Decimal</span>');
                }
                else {
                    $(this).after('<span class="valid valid-Debit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Debit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Debit').focusout(function () {
            $('span.error-Debit').remove();
            $('span.valid-Debit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Debit" style="color:red;"></br>Debit Amount Should be Decimal</span>');
                }
                else {
                    var vr = $('#Credit').val();
                    if (vr > 0)
                    {
                        $(this).val(0);
                    }
                    $(this).after('<span class="valid valid-Debit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Debit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Debit').mouseout(function () {
            $('span.error-Debit').remove();
            $('span.valid-Debit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Debit" style="color:red;"></br>Debit Amount Should be Decimal</span>');
                }
                else {
                    var vr = $('#Credit').val();
                    if (vr > 0) {
                        $(this).val(0);
                    }
                    $(this).after('<span class="valid valid-Debit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Debit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Credit').keyup(function () {
            $('span.error-Credit').remove();
            $('span.valid-Credit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Credit" style="color:red;"></br>Credit Amount Should be Decimal</span>');
                }
                else {
                    $(this).after('<span class="valid valid-Credit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Credit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Credit').focusout(function () {
            $('span.error-Credit').remove();
            $('span.valid-Credit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Credit" style="color:red;"></br>Credit Amount Should be Decimal</span>');
                }
                else {
                    var vr = $('#Debit').val();
                    if (vr > 0) {
                        $(this).val(0);
                    }
                    $(this).after('<span class="valid valid-Credit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Credit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#Credit').mouseout(function () {
            $('span.error-Credit').remove();
            $('span.valid-Credit').remove();
            var inputVal = $(this).val();
            if (inputVal.length > 0) {
                var regex = /^[0-9]\d*(\.\d+)?$/;
                if (!regex.test(inputVal)) {
                    $(this).after('<span class="error error-Credit" style="color:red;"></br>Credit Amount Should be Decimal</span>');
                }
                else {
                    var vr = $('#Debit').val();
                    if (vr > 0) {
                        $(this).val(0);
                    }
                    $(this).after('<span class="valid valid-Credit hidden" style="color:green;"></br></span>');
                }
            }
            else {
                $(this).after('<span class="error error-Credit" style="color:red;"></br>*Required!</span>');
            }
        });
        $('#isCash').click(function () {
            $("#isCash").prop("checked", true);
            $("#isBankAccount").prop("checked", false);
            $("#isCheckbook").prop("checked", false);
            $('#checkbook_content').remove();
            //if (!$('#isBankAccount').is(':checked')) {  }
        });
        $('#isBankAccount').click(function () {
            $("#isCash").prop("checked", false);
            $("#isBankAccount").prop("checked", true);
            $("#isCheckbook").prop("checked", false);
            $('#checkbook_content').remove();
            var temp = '';
            // temp += '<div class="form-group" id="checkbook_id">';
            temp += '   <div id="checkbook_content">';
            temp += '                       <label class="control-label col-md-2">Bank Account no</label>';
            temp += '                       <div class="col-md-9">';
            temp += '                           <input name="BankAccNo" id="BankAccNo" class="form-control" required/>';
            temp += '                       </div>';
            temp += '</div>';
            $('#checkbook_id').append(temp);
            //if (!$('#isBankAccount').is(':checked')) {  }
        });
        $('#isCheckbook').click(function () {
            $("#isCash").prop("checked", false);
            $("#isCheckbook").prop("checked", true);
            $("#isBankAccount").prop("checked", false);
            $('#checkbook_content').remove();
            var temp = '';
            // temp += '<div class="form-group" id="checkbook_id">';
            temp += '   <div id="checkbook_content">';
            temp += '   <div class="row">';
            temp += '                       <label class="control-label col-md-2">Check no</label>';
            temp += '                       <div class="col-md-9">';
            temp += '                           <input type="number" name="CheckNo" id="CheckNo" class="form-control" required/>';
            temp += '                       </div>';
            temp += '   </div>';
            temp += '   <div class="row" style="margin-top:2%">';
            temp += '                       <label class="control-label col-md-2">Bank Account no</label>';
            temp += '                       <div class="col-md-9">';
            temp += '                           <input name="BankAccNo" id="BankAccNo" class="form-control" required/>';
            temp += '                       </div>';
            temp += '   </div>';
            temp += '</div>';
            $('#checkbook_id').append(temp);
            //if (!$('#isBankAccount').is(':checked')) {  }
        });
        $('#submit').click(function () {
            $('span.error-btn').remove();
            alert($('span.valid').length);
            if ($('span.valid').length == 3) {
                return true;
            }
            else {
                $(this).after('<span width="100%" class="error-btn text-center" style="color:red">     *Fill All Fields</span>');
                return false;
            }
        });
    });
</script>