@model DHMRice.Models.Factory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Factory </h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li>
                            <a href="~/Factories/Index">Factory </a>
                        </li>
                        <li class="active">
                            Add New Factory
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">



                    <div class="form-horizontal">
                        @using (Html.BeginForm("Create", "Factories", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory Name</label>
                                    <input type="text" class="form-control" name="Factory_Name" placeholder="Enter Factory Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory Code</label>
                                    <input type="text" class="form-control" name="Factory_Code" placeholder="Enter Factory Code">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory  Number</label>
                                    <input type="text" class="form-control" name="Factory_Number" placeholder="Enter Factory  Number">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory Bank Name</label>
                                    <input type="text" class="form-control" name="Factory_BankName" placeholder="Enter Factory Bank Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory Bank Account Number</label>
                                    <input type="text" class="form-control" name="Factory_ACcountNo" placeholder="Enter Factory Bank Account Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Factory Address</label>
                                    <TextArea type="textarea" class="form-control" col="20" rows="8" name="Factory_Address" placeholder="Enter Factory Address"></TextArea>
                                </div>
                            </div>













                            <br />

                            <div class="form-group">
                                <div class="col-md-10">

                                    <input type="submit" value="submit" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>


                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>
