@model DHMRice.Models.Packing

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css {
    <!-- Modal -->
    <link href="~/Content/assets/plugins/custombox/css/custombox.min.css" rel="stylesheet">
    <link href="~/Content/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />

}
<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Edit Shop </h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li>
                            <a href="~/Shops/Index">Shop </a>
                        </li>
                        <li class="active">
                            Edit Shop
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">


                    @using (Html.BeginForm("Edit", "Packings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Packing_Id)

                        <div class="form-horizontal">







                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Packing Type </label>
                                    <input type="text" class="form-control" name="Packing_Type" placeholder="Enter service Name" value="@(Model.Packing_Type)">
                                    <div style="color:red">  @Html.ValidationMessageFor(m => m.Packing_Type)</div>
                                </div>
                            </div>



                            <br />

                            <div class="form-group">
                                <div class="col-md-10">

                                    <input type="submit" value="submit" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>


@section Scripts {

    <!-- Modal-Effect -->
    <script src="~/Content/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/custombox/js/custombox.min.js"></script>
    <script src="~/Content/assets/plugins/custombox/js/legacy.min.js"></script>
}
