@model DHMRice.Models.Rice_Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Start content -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Shop </h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li>
                            <a href="~/Shops/Index">Shop </a>
                        </li>
                        <li class="active">
                            Add New Shop
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="container card-box">
            <div class="">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">



                    <div class="form-horizontal">
                        @using (Html.BeginForm("Create", "Rice_Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label for="Section Name">Rice Category Name</label>
                                    <input type="text" class="form-control" name="Rice_Category_Name" placeholder="Enter Rice Category Name">
                                </div>
                            </div>

    
                            <br />

                            <div class="form-group">
                                <div class="col-md-10">

                                    <input type="submit" value="submit" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>


                </div>
                <div class="col-lg-1"></div>


            </div>
        </div>


    </div>
</div>
